<footer id="footer" class="footer">
    <div class="row">
      <div class="col-lg-5">
        <div class="container">
          <!-- ======= Pricing Section ======= -->
        <section id="pricing" class="pricing">
          <div class="container">

            <div class="section-header">
              <h2>Контакты</h2>
            </div>

            <div class="row gy-4 gx-lg-5">

              <div class="col-lg-12">
                <div class="pricing-item d-flex justify-content-between">
                  <h3>Тату салон в г.Гродно</h3>
                  <a href="tel:+375298802222"><h4 > +375(29) 880-22-22</h4></a>
                </div>
              </div><!-- End Pricing Item -->

              <div class="col-lg-12">
                <div class="pricing-item d-flex justify-content-between">
                  <h3>Адрес</h3>
                  <h4>Беларусь, Гродно, ул. Ленина, 30</h4>
                </div>
              </div><!-- End Pricing Item -->

              <div class="col-lg-12">
                <div class="pricing-item d-flex justify-content-between">
                  <h3>Время работы</h3>
                  <h4>11:00 - 19:00 ( вт-сб )</h4>
                </div>
              </div><!-- End Pricing Item -->
            </div>
        </section><!-- End Pricing Section -->
      </div>
      </div>
      <div class="col-lg-7">
        <div class="container">
    <iframe style="width: 100%;padding: 20px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2362.9854926863163!2d23.838013315851157!3d53.68288398005088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dfd624aa1c1457%3A0xc37b1c9b16a8b1ba!2z0KXRgNCw0LHRgNC-0LUg0KHQtdGA0LTRhtC1INCi0LDRgtGDINCh0YLRg9C00LjRjw!5e0!3m2!1sru!2sby!4v1681030338930!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>


